 <div class="user-details">
  <h1> About me </h1>
  <p> I'm currently a student at Queens College, pursuing a BA in Computer science.  In 2019, I graduated from Baruch College with a dual degree in Mathematics and Economics.  This decision came from being absolutely terrible at math in high school, and struggling to understand what I was hearing on the news.  This gave me ability to approach problems from both an analytical and conceptual stand point.  It also sparked my interest in data science and artificial intelligence.
In our day and age, we have a tremendous amount of data and not enough people who can understand it.  It's no longer enough to be a good programmer, a math whiz, or a statistician.  It is crucial to be able to combine all of these things to extract, formulate, and tell a story. 
My goal is to tell a captivating story with the work I do and hopefully inspire others to tell their own.</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
