<div class="user-details">
    <h1> Education</h1>
    <br />
</div>

<div class="user-education">

    <div class="contents-left">
        <b>2019-2021</b>
        <br />
        <b>Bachelor's Degree</b>
    </div>
</div>

<div class="user-education">
    <div class=" contents-right">
        <b>Queens College - City University of New York</b>
        <br />
        <p>
            I've taken quite an interest in Computer Science over the past year,
            so I've decided to take up studying it.  I have a pretty strong interest
            in Machine Learning and Quantum Computing, so I'm excited to see where that goes.
            My plan is to continue into a Master's program where I can specialize in one of those
            fields. X2
        </p>
    </div>
</div>