<div class="user-details">
    <h1> Education</h1>
</div>

<div class="user-education">
    <div class="user-education">
        <div class="contents-left">
            <h6><b>2019-2021</b></h6>
            <h6><b>Bachelor's Degree</b></h6>
        </div>
        <div class=" content-right">
            <b>Queens College - City University of New York</b>
            <br />
            I've taken quite an interest in Computer Science over the past year, 
            so I've decided to take up studying it.  I have a pretty strong interest 
            in Machine Learning and Quantum Computing, so I'm excited to see where that goes.  
            My plan is to continue into a Master's program where I can specialize in one of those
            fields.
        </div>
    </div>
        
</div>
